# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# PWA files
**/public/favicons/sw.js
**/public/favicons/workbox-*.js
**/public/favicons/worker-*.js
**/public/favicons/sw.js.map
**/public/favicons/workbox-*.js.map
**/public/favicons/worker-*.js.map

# testing
/coverage
/deprecated

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel
