.a11y,
.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.cover-link {
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.column {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
}

/* .section-content */
.section-content {
  margin-left: auto;
  margin-right: auto;
} /* desktop ////////////////////////// */
@media only screen and (min-width: 1069px) {
  .section-content {
    width: 980px;
    min-width: 980px;
  }
} /* tablet ////////////////////////// */
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .section-content {
    width: 692px;
    min-width: 692px;
  }
} /* mobile ////////////////////////// */
@media only screen and (max-width: 734px) {
  .section-content {
    width: 87.5%;
    min-width: 87.5%;
  }
}

/* flex-sizes */
/* desktop */
.large-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.large-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.large-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}
.large-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}
.large-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.large-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}
.large-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}
.large-3 {
  flex-basis: 25%;
  max-width: 25%;
}

/* mobile */
@media only screen and (max-width: 1068px) {
  .medium-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .medium-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .medium-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .medium-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .medium-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .medium-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .medium-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .medium-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .medium-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .medium-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

/* mobile */
@media only screen and (max-width: 734px) {
  .small-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .small-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .small-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .small-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .small-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .small-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .small-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.large-span-12 {
  grid-column: span 12;
}
.large-span-6 {
  grid-column: span 6;
}
.large-span-4 {
  grid-column: span 4;
}

@media only screen and (max-width: 1068px) {
  .medium-span-12 {
    grid-column: span 12;
  }
  .medium-span-6 {
    grid-column: span 6;
  }
}

.large-offset-3 {
  margin-left: 25%;
}
@media only screen and (max-width: 1068px) {
  .madium-offset-0 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 734px) {
  .small-offset-1 {
    margin-left: 8.3333333333%;
  }
  .small-offset-0 {
    margin-left: 0;
  }
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
}
.large-uncentered {
  margin-left: 0;
  margin-right: 0;
}
.fullwidth {
  width: 100%;
  overflow: hidden;
}

/* typography */
.as-svgicon-container .as-svgicon-reduced {
  margin: -4px;
}
.as-svgicon {
  fill: currentColor;
}
.as-svgicon,
.as-svgicon-container {
  display: block;
}

@media only screen and (min-width: 1069px) {
  .typography-headline-elevated {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .typography-headline-reduced {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
      Helvetica, Arial, sans-serif;
  }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
  .typography-headline-elevated {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .typography-headline-reduced {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.004em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
      Helvetica, Arial, sans-serif;
  }
}
@media only screen and (min-width: 735px) {
  .typography-intro {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
}
@media only screen and (max-width: 734px) {
  .typography-headline-elevated {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
  .typography-headline-reduced {
    font-size: 28px;
    line-height: 1.28583;
    font-weight: 600;
    letter-spacing: 0.007em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue,
      Helvetica, Arial, sans-serif;
  }
  /* typography-intro */
  .typography-intro {
    font-size: 19px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: 0.012em;
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  }
}

.typography-body {
  font-size: 17px;
  line-height: 1.47059;
  letter-spacing: -0.022em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
.typography-body-reduced {
  font-size: 14px;
  line-height: 1.42859;
  letter-spacing: -0.016em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

.violator-frameless {
  box-sizing: border-box;
  white-space: nowrap;
  display: block;
  color: #bf4800;
}
.violator-reduced {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  border-radius: 12px;
  padding: 3px 11px;
}

.nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}

/* links-inline */
.links-inline li {
  display: inline;
  margin: 0 0.8em;
}
.links-inline li:first-child {
  margin-left: 0;
}
.links-inline li:last-child {
  margin-right: 0;
}

.links-stacked li {
  margin: 0;
  display: block;
}
