html,
body {
  margin: 0;
  padding: 0;
}

html {
  --globalnav-height: 44px;
  --r-globalnav-segmentbar-background: #272729;
  --r-globalnav-segmentbar-text-color: rgba(255, 255, 255, 0.92);
  --r-globalnav-segmentbar-border-color: rgba(255, 255, 255, 0.24);
}
@media only screen and (max-width: 833px) {
  html {
    --globalnav-height: 48px;
  }
}

@supports ((backdrop-filter: saturate(180%) blur(20px))) {
  html {
    --r-globalnav-segmentbar-background: #424245;
  }
}

html {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  text-size-adjust: 100%;
  font-size: 106.25%;
  quotes: '“' '”';
}

:root {
  --r-localnav-height: 52px;
  --r-localnav-stacked-height: 66px;

  --router-gutter: 20px;
  --router-grid-max-viewport: 1420px;
  --router-grid-max-width: calc(
    var(--router-grid-max-viewport) - var(--router-gutter) * 2
  );
  --router-wrapper-bg-color: white;
  --router-item-bg-color: #fafafa;
  --router-item-border-radius: 0px;
  --router-item-column-padding: 8%;
  --router-columns: 2;
}
@media only screen and (max-width: 734px) {
  :root {
    --router-grid-max-width: 374px;
  }
}
@media only screen and (max-width: 833px) {
  :root {
    --r-localnav-height: 48px;
    --r-localnav-stacked-height: 63px;
  }
}

html.ac-gn-noscroll {
  margin-top: 0 !important;
  overflow-y: scroll !important;
}
html.ac-gn-noscroll,
html.ac-gn-noscroll body {
  overflow: hidden !important;
  height: 100% !important;
}
html.black {
  background-color: #000;
}

/* body */
body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}
body,
input,
textarea,
select,
button {
  font-synthesis: none;
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}
body {
  min-width: 320px;
}

body ::-webkit-scrollbar {
  display: none;
}

/* main */
main,
summary,
details {
  display: block;
}
main {
  position: relative;
}
main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

/* unified */
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
input,
figure,
button,
fieldset,
blockquote,
legend,
hgroup,
pre,
abbr {
  margin: 0;
  padding: 0;
}

fieldset,
iframe {
  border: 0;
}

/* typography ///////////// */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

b,
strong {
  font-weight: 600;
}

/* CUSTOM */
ul {
  list-style: none;
}

sub,
sup {
  position: relative;
  font-size: 0.6em;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
.footnote-number {
  position: relative;
  vertical-align: initial;
  font-feature-settings: 'numr';
  font-size: 1em;
}
sup.footnote-number {
  top: auto;
}

.footnote a {
  vertical-align: inherit;
  color: inherit;
}
.footnote a:hover {
  color: #06c;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
button:disabled {
  cursor: default;
}
